<mat-toolbar>
  <mat-toolbar-row>
    <div class="avatar-container">
      <img src="/assets/img/Me.jpeg">
      <span>Ashwini Nayak</span>
    </div>


    <mat-tab-group>
      <mat-tab label="About me">
        <h1>Some tab content</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Projects & Skills">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Accomplishments">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
      <mat-tab label="Education">
        <h1>Some more tab content</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>
    <a
      class="float-right"
      target="_blank"
      href="/assets/docs/Resume.docx">
      <mat-icon class="float-right">get_app</mat-icon>
    </a>

  </mat-toolbar-row>
</mat-toolbar>
<div class="content-wrapper">
<!--About Me-->
  <div class="page-section">
    <div class="page-header">About Me</div>
    <div class="page-body">
      I am a SAP BI/BW Hana Developer with almost 6 years of relevant experience. I currently for work for an Indian multi-national company for a reputed german sports goods retailer.<br>
      <br>
      •	SAP BW/HANA Developer with close to 6 yeas of rich development experience in all life cycle phases of project implementations viz. Business Requirement gathering and Blueprinting, Development and Unit Testing, Integration Testing and User Acceptance Testing, Technical Cut over, Go-Live and post production support during hyper care.<br>
      •	Highly effective communicator with strong interpersonal and articulation skills.<br>
      •	Excellent team player with a positive can-do attitude to drive the analysis, design and development of the critical solutions for timely delivery.<br>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
